html {
	
}

body {
	
}

.left {
	float: left;
}

.right {
	float: right;
}

#header .row {
    margin: 0 auto;
    width: 940px;
}

#header .row h1 {
    color: #0a318f;
    margin-top: 18px;
}

.container {
    ___width: 1100px;
	margin: 100px auto;
}

.main-metro-wrapper {
	padding: 20px;
	width: auto;
}

.main-metro-wrapper .tile {
	
	margin: 0 5px 5px 0;
	position: relative;
}

.main-metro-wrapper .tile h3 {
	bottom: 0;
    color: #000000;
    font-style: italic;
    font-weight: normal;
    padding: 0 0 3px 11px;
    position: absolute;
}

.main-metro-wrapper .tile .buttons-area {
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #000;
	top: 0px;
	opacity: 0.6;
}

.main-metro-wrapper .tile .buttons-area .delite-button {
	background-size: 40px auto;
    height: 40px;
    width: 40px;	
	margin: 10px 10px 0 0;
}

thead {
	__background-color: #000;
	__color: #fff;
}

h2 {
	__color: #FFFFFF;
    font-weight: normal;
    padding: 20px 0 20px 5px;
}

.button-back {
	background-image: url("../img/back-arrow.png");
    display: block;
    height: 43px;
    left: 70px;
    position: absolute;
    text-indent: -99999px;
    top: 15px;
    width: 43px;
}

.button-add {
	background-image: url("../img/add_button.png");
    display: block;
    height: 43px;
    left: 70px;
    position: absolute;
    text-indent: -99999px;
    bottom: 15px;
    width: 43px;
	background-repeat: no-repeat;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    __background-color: #3367ba;
}

.table-striped tbody tr:nth-child(2n) td, .table-striped tbody tr:nth-child(2n) th {
    __background-color: #4373bf;
}

.table th, .table td {
    __border-top: 1px solid #2154AF;
    __color: #FFFFFF;
    font-size: 11pt;
    line-height: 18px;
    padding: 13px;
    text-align: left;
    vertical-align: top;
}

a.view-button {
	background-image: url("../img/view-arrow.png");
    background-size: 20px auto;
    display: inline-block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}

a.edit-button {
	background-image: url("../img/edit-button.png");
    background-size: 20px auto;
    display: inline-block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}

a.delite-button {
	background-image: url("../img/delite-button.png");
    background-size: 20px auto;
    display: inline-block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}

label {
	____color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.input label {
	display: inline-block;
}

input.span12, textarea.span12, .uneditable-input.span12 {
    width: 930px;
	color: #000000;
    float: none;
    font-size: 14pt;
    margin-left: 0;
}

input.span12 {
	height: 30px;
}

form .actions {
	padding: 30px 0 20px;
}

.main-metro-wrapper .tile.content {
	position: relative;
}

.main-metro-wrapper .tile.content h3 {
	bottom: 11px;
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: bold;
    position: absolute;
}
/* HUB sizes for administratioin index pages */

.main-metro-wrapper .tile.big {
	width: 248px;
	height: 122px;
}



/* end */

/* HUB Types for administration index page */

.main-metro-wrapper .tile.people {
	background-image: url('../img/people-hub.png');
}

.main-metro-wrapper .tile.pages {
	background-image: url('../img/pages-hub.png');
}
.main-metro-wrapper .tile.links {
	background-image: url('../img/links-hub.png');
}


/* end */

/* Alerts */

.alert {
	background-color: #00ba00;
    border: #006a00;
    color: #FFFFFF;
    font-size: 14pt;
    padding: 20px 35px 20px 14px;
	border-radius: 0px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert p {
	font-size: 17px;
    line-height: 18px;
    margin: 0;
}

.alert .close {
    color: #000000;
    font-size: 22pt;
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.34;
    text-shadow: 0 1px 0 #FFFFFF;
}

/* for_datepicker */

#ui-datepicker-div {
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #333;
	box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.475);
	padding: 2px;
}

.ui-datepicker-calendar thead {
	background-color: #444;
}
.ui-datepicker-calendar tbody td {
	border: 0 none;
    padding: 1px;
}

.ui-datepicker-calendar tbody td .ui-state-default {
	border: 1px solid #D3D3D3;
	text-align: right;
	background-color: #e6e6e6;
	padding: 0px 4px;
	display: block;
	font-size: 12px;
}

.ui-datepicker-calendar tbody td .ui-state-default:hover,
.ui-datepicker-calendar tbody td .ui-state-active {
	color: #212121;
	background-color: #fff;
	border: 1px solid #999;
}

.ui-datepicker-calendar tbody td .ui-state-default:hover {
	text-decoration: none;
}

a.ui-datepicker-prev span {
	float: left;
	cursor: pointer;
	margin-left: 3px;
}

a.ui-datepicker-next span {
	float: right;
	cursor: pointer;
	margin-right: 3px;
}

.ui-datepicker-title {
	text-align: center;
}

/* for tabs */
ul.nav {
	_margin-bottom: 0;
}

.content-form {
	padding: 20px;
}