/* Universal stiles */
.left {
	float: left;
}

.right {
	float: right;
}

body {
	margin: 0px;
	background-color: #282828;
    background-image: url("../../../img/templates/the42template/background.png");
}

html {	
	font-family: Arial, sans-serif;
	_font-style: italic;
}

.wrapper-padding {
    padding: 0 100px;
}

.all-wrapper {
	width: 1024px;
	margin: 0 auto;
}

.one_half 		{ width: 49%;   position:relative;}
.one_third 		{ width: 32%;  position:relative;}
.two_third 		{ width: 66%; position:relative;}
.three_fourth	{ width: 74%;    position:relative;}
.four_fifth		{ width: 78%;     position:relative;}
.one_fourth 	{ width: 23.5%;   position:relative;}
.one_fifth 		{ width: 18.2%; position:relative;}
.two_fifth 		{ width: 37.6%; position:relative;}
.three_fifth 	{ width: 58.3%; position:relative;}
.one_sixth 		{ width: 13.33%; position:relative;}

.one_half,.one_third,
.two_third,.one_fourth,
.one_fifth, .three_fourth,
.one_sixth, .four_fifth,
.two_fifth, .three_fifth {
    float: left;
    margin-bottom: 0;
    margin-right: 2%;
}

#header {
	background-color: #424242;
	_height: 90px;
	position: relative;
}

#header h1 {
    margin: 0;
    position: relative;
    z-index: 3;
    top: 15px;
    left: 25px;
    float: left;
    width: 150px;
    height: 80px;
}

#header .all-wrapper {
    position: relative;
    z-index: 1;
}

#header h1 .logo {
	display: block;
	width: 113px;
	height: 113px;
	background-image: url('../../../img/templates/the42template/logo.png');
	background-repeat: no-repeat;
	text-indent: -99999px;
	padding: 0;
	margin: 0;
}

/* Menu */

#header ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 80px;
    position: relative;
    float:right;
}

#header ul.menu li {
	float: left;

}

#header ul.menu li a {
	text-align: center;
	text-decoration: none;
	color: #e4e5e2;
	display: block;
	padding: 30px 20px;
	font-size: 18px;
	font-style: normal;
}

#header ul.menu li a:hover {
	background-color: #303030;
}

#header ul.menu li a.active {
	color: #53861f;
}

/* Menu End */

#content {
/*background-image: url('../../../img/templates/the42template/back.png'); */
}

.submenu {
    background: url("../../../img/templates/the42template/submenu.png") no-repeat 0 0 #4B820B;
    height: 50px;
    margin-bottom: 30px;
    padding-top: 25px;
}

.submenu a{
    background-repeat: no-repeat;
    display: inline-block;
    height: 22px;
    text-indent: -99999px;
    width: 21px;
    margin-left: 13px;
}

.submenu h2 {
	color: #e7e9db;
    float:left;
    display: inline-block;
    font-size: 12pt;
    font-weight: bold;
    margin: 0 0 0 165px;
    text-transform: uppercase;
    line-height: 21px;
}

a.tile {
	background-image: url("../../../img/templates/the42template/tiles.png");
}

a.list {
	background-image: url("../../../img/templates/the42template/list.png");
    margin-left: 0px;
}

.projects .project {
	margin-bottom: 30px;
	background-color: #fff;
	position: relative;
}

.projects .project.tile {
	background-color: transparent;
	margin: 0px 8px 30px 8px;
}

.projects .project.tile img {
	border: 0px solid #fff;
}

.project .logo-wrapper {

}

.project.tile .logo-wrapper {

}

.project .logo-wrapper img {
	width: 255px;
	height: 155px;
	border: 1px solid #fff;
}

.project .white-block {
    background: url("../../../img/templates/the42template/shadow-vertical.png") no-repeat scroll -3px 0px #FFFFFF;
    height: 155px;
}

.project .name {
	width: 120px;
	padding: 30px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project.tile .name a {
	color: #fff;
	text-decoration: none;
}

.project .name a {
	color: #000;
	text-decoration: none;
}

.project.tile .name {
	background-image: url("../../../img/templates/the42template/tile_back.png");
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0 0 0 55px;
    text-overflow: ellipsis;
    width: 200px;
	height: 61px;
}

.project .name h3 {
	padding: 0;
	margin: 0;
}

.project.tile .name h3 {
	display: block;
    font-size: 16pt;
    margin: 17px 0 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
	color: #FFFFFF;
    line-height: 18px;
}

.project.tile .name p {
	font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 165px;
}

.project .description {
	font-size: 11pt;
    margin: 30px 115px 20px 10px;
    width: 300px;
}

.project a.more-link {
	background: url("../../../img/templates/the42template/more.png") no-repeat;
    bottom: 0;
    display: block;
    height: 60px;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 63px;
}

.project.tile a.more-link {
	background-image: url("../../../img/templates/the42template/more-tile.png");
    bottom: 15px;
    display: block;
    height: 34px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    text-indent: -99999px;
    width: 34px;
}

.pagination {
	padding: 20px 100px;
}

.pagination span {
	background-color: #FFFFFF;
    border: 1px solid #59A504;
    display: inline-block;
    height: 21px;
    padding-top: 4px;
    text-align: center;
    width: 25px;
}

.container.single-content {
	width: 964px;
}

.single-content .row {
	background-color: #fff;
	margin: 0px;
}

.single-content .span9 {
	width: 700px;
	margin: 0px;
}

.single-content .span3 {
	width: 204px;
	margin: 0px;
	padding: 30px;
}

.single-content .carousel-indicators .active {
    background-color: #5baa00;
}

.single-content .carousel-inner > .item > img,
.single-content .carousel-inner > .item > a > img {
    max-width: 700px;
}

.single-content .carousel-inner > .item {
	height: 510px;
}


.pagination span a {
	color: #a7a7a7;
	text-decoration: none;
}

.pagination span:hover, .pagination span.active {
	background-color: #58a500;
	border: 1px solid #fff;
}

.pagination span:hover a, .pagination span.active a {
	color: #fff;
	text-decoration: none;
}

#footer {
	background-color: #424242;
	height: 192px;
	border-top: 5px solid #6cb92c;
}

#footer .one_half {
    float: left;
    margin-right: 20px;
    margin-top: 20px;

}

#footer .logo-footer {
    background-image: url("../../../img/templates/the42template/logo-footer.png");
    display: block;
    width: 51px;
    height: 51px;
    float:left;
    margin: 7px 0 0 25px;
}

#footer .one_half+.one_half {
    margin-right: 0;
    color: #e4e5e2;
}

#footer .address {
    width: 50%;
    float: left;
}
/* Home page Categories  */

.app-categories ul{
    list-style-type: none;
    margin: 23px 0px 10px 0px;
}

.app-categories  .category  {
    height: 350px;
    width: 150px;
    background-color: #fff;
    padding: 15px;
    margin-right: 30px;
}

.app-categories .category a,
.app-categories .category span,
.app-categories .category {
    display: block;
}

.app-categories .category+.category+.category+.category {
    margin-right: 0;
}

.app-categories .category .image {
    width: 150px;
    height: 150px;
    background: url("../../../img/templates/the42template/site-logo.png") no-repeat center center #5ca800;

}


.app-categories .category+.category .image {
    background-image: url("../../../img/templates/the42template/seo-logo.png");
}

.app-categories .category+.category+.category .image {
    background-image: url("../../../img/templates/the42template/mobile-logo.png");
}

.app-categories .category+.category+.category+.category .image {
    background-image: url("../../../img/templates/the42template/unity3d-logo.png");
}

.app-categories .category .name {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #5ca800;
    font-weight: bold;
}

.app-categories .category h3 {
    margin-bottom: 0;
}

.app-categories .category .description {
    margin: 0px 10px 0 15px;
    font-size: 12px;
    color: #4c4a4b;

}
/* END Categories */


/* InfiniteBox */

.infinitebox.opened {
    width: 500px;
}

.infinitebox {
    height: 150px;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-out 0s;
    width: 160px;
    z-index: 5;
}

.toright .ib-draws {
    left: 0;
}
.ib-draws {
    background: none repeat scroll 0 0 #333436;
    height: 152px;
    position: absolute;
    width: 152px;
    z-index: 2;
}

.ib-draw {
    background: none repeat scroll 0 0 #1B1C1E;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 75px;
    line-height: 75px;
    margin-bottom: 1px;
    margin-right: 1px;
    text-align: center;
    width: 75px;
}


.ib-icon {
    background-position: left bottom;
    cursor: pointer;
    margin-left: 23px;
    margin-top: 23px;
    transition: all 0.2s ease-out 0s;
    -webkit-transition:  all 0.2s ease-out 0s; /* Safari */
}


.toright .ib-content {
    padding-left: 247px;
    right: 0;
}

.ib-content {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    height: 150px;
    overflow: hidden;
    padding: 10px 25px;
    position: absolute;
    width: 580px;
}

.ib-content-wrap {
    display: none;
}

.ib-content-wrap.active {
    display: block;
}

.closed.toright .ib-close:before {
    border-color: transparent #FFFFFF transparent currentColor;
    border-right: 7px solid #FFFFFF;
    border-style: solid solid solid none;
    border-width: 7px 7px 7px medium;
}

.toright .ib-close:before {
    margin-left: -7px;
}

.ib-close:before {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #1B1C1E;
    border-top: 7px solid transparent;
    content: "";
    height: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: 4;
}
.toright .ib-close {
    border-left: 3px solid #FFFFFF;
    right: 0;
}
.ib-close {
    background: none repeat scroll 0 0 #1B1C1E;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
}

.scroll-pane {
    height: 130px;
    overflow: auto;
    width: 100%;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}
/*END InfiniteBox */


/* Footer */

.footer .container {
    margin-top: 20px;
}


.ib-draw .twitter-icon {
    background: url("../../../img/templates/the42template/twitter.png") no-repeat scroll left bottom #1B1C1E;
    height: 26px;
    width: 29px;
}

.ib-draw .facebook-icon {
    background: url("../../../img/templates/the42template/facebook.png") no-repeat scroll left bottom #1B1C1E;
    height: 26px;
    width: 29px;
}

.ib-draw .comment-icon {
    background: url("../../../img/templates/the42template/comment.png") no-repeat scroll left bottom #1B1C1E;
    height: 27px;
    width: 29px;
}

.ib-draw .article-icon {
    background: url("../../../img/templates/the42template/article.png") no-repeat scroll left bottom #1B1C1E;
    height: 26px;
    width: 29px;
}

.ib-icon:hover, .ib-icon.selected {
    background-position: left top;
}

/*END Footer */

/* ClearFix )))) */
*+html .clearfix{
  min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}

/* end clearfix */

