/* Universal stiles */
.left {
	float: left;
}

.right {
	float: right;
}

body {
	margin: 0px;
	background-color: #282828;
}

html {	
	font-family: Arial, sans-serif;
	_font-style: italic;
}

.wrapper-padding {
    padding: 0 100px;
}

#all-wrapper {
	width: 1024px;
	margin: 0 auto;
}

#header {
	background-color: #424242;
	_height: 90px;
	position: relative;
}

#header h1 .logo {
	display: block;
	width: 113px;
	height: 113px;
	position: absolute;
	background-image: url('../../../img/templates/the42template/logo.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	padding: 0;
	margin: 0;
	top: 15px;
	left: 25px;
}

/* Menu */

#header ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 170px;
}

#header ul.menu li {
	float: left;

}

#header ul.menu li a {
	text-align: center;
	text-decoration: none;
	color: #e4e5e2;
	display: block;
	padding: 30px 10px;
	font-size: 18px;
	font-style: normal;
}

#header ul.menu li a:hover {
	background-color: #303030;
}

#header ul.menu li a.active {
	color: #53861f;
}

/* Menu End */

#content {
	background-image: url('../../../img/templates/the42template/back.png');
}

.submenu {
	background-color: #4B820B;
    background-image: url("../../../img/templates/the42template/submenu.png");
    height: 80px;
    margin-bottom: 40px; 
}

.submenu h2 {
	color: #FFFFFF;
    display: inline-block;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    padding: 35px 0 0 165px;
    text-transform: uppercase;
}

a.tile {
	background-image: url("../../../img/templates/the42template/tiles.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 22px;
    text-indent: -999px;
    width: 21px;
	margin-left: 15px;
}

a.list {
	background-image: url("../../../img/templates/the42template/list.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    display: inline-block;
    height: 22px;
    margin: 0 0 0 5px;
    text-indent: -999px;
    width: 21px;
}

.projects .project {
	margin-bottom: 30px;
	background-color: #fff;
	position: relative;
}

.projects .project.tile {
	background-color: transparent;
	margin: 0px 8px 30px 8px;
}

.projects .project.tile img {
	border: 0px solid #fff;
}

.project .logo-wrapper {
	height: 157px;
    width: 257px;
}

.project.tile .logo-wrapper {
    height: 155px;
    width: 257px;
}

.project .logo-wrapper img {
	width: 255px;
	height: 155px;
	border: 1px solid #fff;
}

.project .logo-wrapper .shadow-vertical {
    display: block;
    background: url("../../../img/templates/the42template/shadow-vertical.png") no-repeat;
    width: 25px;
    height: 155px;
}

.project .name {
	width: 155px;
	padding: 30px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project.tile .name a {
	color: #fff;
	text-decoration: none;
}

.project .name a {
	color: #000;
	text-decoration: none;
}

.project.tile .name {
	background-image: url("../../../img/templates/the42template/tile_back.png");
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0 0 0 55px;
    text-overflow: ellipsis;
    width: 200px;
	height: 68px;
}

.project .name h3 {
	padding: 0;
	margin: 0;
}

.project.tile .name h3 {
	display: block;
    font-size: 12pt;
    height: 20px;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: 165px;
	color: #FFFFFF;
}

.project.tile .name p {
	font-size: 10pt;
    height: 20px;
    margin: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 165px;
}

.project .description {
	font-size: 11pt;
    font-style: normal;
    height: 86px;
    overflow: hidden;
    padding: 30px 115px 20px 10px;
    text-overflow: ellipsis;
    width: 265px;
}

.project a.more-link {
	background-image: url("../../../img/templates/the42template/more.png");
    bottom: 0;
    display: block;
    height: 60px;
    position: absolute;
    right: 0;
    text-indent: -999px;
    width: 63px;
	overflow: hidden;
}

.project.tile a.more-link {
	background-image: url("../../../img/templates/the42template/more-tile.png");
    bottom: 15px;
    display: block;
    height: 34px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    text-indent: -999px;
    width: 34px;
}

.pagination {
	padding: 20px 100px;
}

.pagination span {
	background-color: #FFFFFF;
    border: 1px solid #59A504;
    display: inline-block;
    height: 21px;
    padding-top: 4px;
    text-align: center;
    width: 25px;
}

.container.single-content {
	width: 964px;
}

.single-content .row {
	background-color: #fff;
	margin: 0px;
}

.single-content .span9 {
	width: 700px;
	margin: 0px;
}

.single-content .span3 {
	width: 204px;
	margin: 0px;
	padding: 30px;
}

.single-content .carousel-indicators .active {
    background-color: #5baa00;
}

.single-content .carousel-inner > .item > img, 
.single-content .carousel-inner > .item > a > img {
    max-width: 700px;
}

.single-content .carousel-inner > .item {
	height: 510px;
}


.pagination span a {
	color: #a7a7a7;
	text-decoration: none;
}

.pagination span:hover, .pagination span.active {
	background-color: #58a500;
	border: 1px solid #fff;
}

.pagination span:hover a, .pagination span.active a {
	color: #fff;
	text-decoration: none;
}

#footer {
	background-color: #424242;
	height: 192px;
	border-top: 5px solid #6cb92c;
}


/* Home page Categories  */

.app-categories ul {
    list-style-type: none;
    margin: 23px 0px 10px 0px;
}

.app-categories ul .category {
    float: left;
    height: 350px;
    width: 150px;
    background-color: #fff;
    background-image: url('"../../../img/templates/the42template/site-logo.png"');
    padding: 15px;
    margin-right: 30px;
}

.app-categories ul .category+.category {
    background-image: url('"../../../img/templates/the42template/seo-logo.png"');
}

.app-categories ul .category+.category+.category {
    background-image: url('"../../../img/templates/the42template/mobile-logo.png"');
}

.app-categories ul .category+.category+.category+.category {
    background-image: url('"../../../img/templates/the42template/unity3d-logo.png"');
    margin-right: 0;
}

.app-categories ul .category a,
.app-categories ul .category span,
.app-categories ul .category {
    display: block;
}

.app-categories ul .category .image {
    width: 150px;
    height: 150px;
    background-color: #5ca800;
}

.app-categories ul .category .name {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #5ca800;
    font-weight: bold;
    margin-top: 20px;
}

.app-categories ul .category .description {
    margin: 10px 10px 0 15px;
    font-size: 12px;
    color: #4c4a4b;

}
/* end Categories */

/* ClearFix )))) */

*+html .clearfix{
  min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}

/* end clearfix */