/* NEW STYLE */

.left {
	float: left;
}

.right {
	float: right;
}

body {
	margin: 0px !important;
	font-family: Arial, sans-serif !important;
	font-style: normal !important;
}

h1,h2,h3{line-height: 25px;}

#header {
	height: 130px;
	background: #557c26; /* Old browsers */
	background: -moz-linear-gradient(top,  #557c26 0%, #53862e 48%, #40b235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#557c26), color-stop(48%,#53862e), color-stop(100%,#40b235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #557c26 0%,#53862e 48%,#40b235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #557c26 0%,#53862e 48%,#40b235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #557c26 0%,#53862e 48%,#40b235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #557c26 0%,#53862e 48%,#40b235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557c26', endColorstr='#40b235',GradientType=0 ); /* IE6-9 */
	border-bottom: 6px solid #ff6600;
	position: relative;
}

#header h1 {
	display: block;
	margin: 0;
	width: 195px;
	height: 130px;
	padding: 0;
	background: url("../../../img/templates/kandibur/Logo-Smoll.png") no-repeat scroll 14px 16px transparent;
	margin: 0 auto;
	text-indent: -999999px;
}

#header .header-wrapper {
	width: 800px;
	margin: 0 auto;
}

 .main-menu {
	background: url("../../../img/templates/kandibur/menu.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 50px;
    margin: 0 auto;
    padding: 17px 0 0;
    position: relative;
    width: 805px;
    z-index: 2;
}

 .main-menu-content {
	background-color: rgba(90, 150, 250, 0.85);
	height: 0px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 716px;
	z-index: 2;
}

 .main-menu-content.active {
	height: 240px;
	padding: 20px 34px;
	border: 1px solid #0088cc;
}

 .main-menu-content .menu-tile {
	width: 238px;
	height: 85px;
	overflow: hidden;
	margin: 1px 0;
}

 .main-menu-content .menu-tile img {
	border: 2px solid #ff6600;
    border-radius: 43px 43px 43px 43px;
	-webkit-border-radius: 43px;
    height: 41px;
    width: 41px;
}

.main-menu-content .menu-tile ul.submenu {
	margin: 0;
	padding: 3px 0 0;
}

.main-menu-content .menu-tile ul.submenu li {
	height: 16px;
    line-height: 5px;
    list-style: none outside none;
    overflow: hidden;
    width: 175px;
}

.main-menu-content .menu-tile ul.submenu li span {
	font-size: 7pt;
	font-weight: bold;
	color: #fff;
}

 .main-menu-content .menu-tile .menu-description {
	height: 30px;
    padding-left: 3px;
    width: 187px;
}

 .main-menu-content .menu-tile .menu-description h3 {
	color: #003366;
	font-size: 14pt;
	font-weight: normal;
	margin: 0;
	padding: 1px 0;
}

.main-menu-content .menu-tile .menu-description .menu-text {
	color: #003366;
	font-size: 8pt;
	font-weight: normal;
	line-height: 13px;
	width: 180px;
}


 .main-menu span {
	color: #003399;
    display: block;
    float: left;
    font-size: 11pt;
    font-weight: bold;
    margin-left: 4px;
    margin-top: -5px;
}

.main-menu .center {
	margin: 0 auto;
	width: 120px;
}

.main-menu .mail {
	display: block;
	width: 17px;
	height: 12px;
	background: url('../../../img/templates/kandibur/message.png') no-repeat scroll 0px 0px transparent;
	text-indent: -999999px;
	margin-left: 17px;
}

 .main-menu .flags {
	margin: 0;
	padding: 0 60px 0 0;
}

.main-menu .flags li {
	float: left;
	width: 17px;
	height: 12px;
	list-style: none;
	display: block;
	padding-left: 2px;
}

 .main-menu .flags li a {
	width: 17px;
	height: 12px;
	display: block;
	text-indent: -9999999px;


}

.main-menu .flags li a.ru {
	background: url('../../../img/templates/kandibur/ru.png') no-repeat scroll 0px 0px transparent;
}

 .main-menu .flags li a.uk {
	background: url('../../../img/templates/kandibur/uk.png') no-repeat scroll 0px 0px transparent;
}

.main-menu .flags li a.en {
	background: url('../../../img/templates/kandibur/en.png') no-repeat scroll 0px 0px transparent;
}

 .main-menu .flags li a.de {
	background: url('../../../img/templates/kandibur/de.png') no-repeat scroll 0px 0px transparent;
}

#content-wrapper {
	background: #ffffcc; /* Old browsers */
	
}

#second-wrapper {
	width: 805px;
	height: 620px;
	margin: 0 auto;
	background: url('../../../img/templates/kandibur/Fon_centr.jpg') no-repeat scroll center transparent;
	position: relative;
}

#content {
	width: 800px;
	height: 620px;
	margin: 0 auto;
	overflow: hidden;
}

#all-columns {
	width: 6452px !important;
}

.menu-all {
	position: absolute;
	left: 0px;
}

.column {
	padding: 0 31px;
    	width: 738px;
}

.column.main-column {
	padding: 0;
    	width: 800px;
}

.metro-wrapper {
	margin: 0 auto;
	margin-top: 125px;
	width: 690px;
	height: 325px;
	position: relative;
}

.metro-wrapper div.round img {
	border: 0 solid #fff;
}

.metro-wrapper  div.round {
	border: 3px solid rgb(70, 130, 250);
    border-radius: 65px 65px 65px 65px;
	-webkit-border-radius: 65px;
    height: 125px;
    width: 125px;
	overflow: hidden;
	position: absolute;
}

.metro-wrapper div.round img {
	height: 125px;
    width: 125px;
	border-radius: 65px;
}

.metro-wrapper  div.round._1 {
	left: 293px;
    top: 30px;
}

.metro-wrapper  div.round._2 {
	left: 454px;
    top: 5px;
}

.metro-wrapper  div.round._3 {
	left: 605px;
    top: 34px;
}

.metro-wrapper  div.round._4 {
	left: 350px;
    top: 161px;
}

.metro-wrapper  div.round._5 {
	left: 502px;
    top: 150px;
}

.metro-wrapper  div.round._6 {
	left: 435px;
    top: 280px;
}

.metro-wrapper  div.round._7 {
	left: 600px;
    top: 255px;
}

.metro-wrapper div.round h3 {
	background-color: rgb(0, 102, 255);
    background-image: url("../../../img/templates/kandibur/dots.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 3px;
    position: absolute;
    font-size: 10pt;
    height: 21px;
    opacity: 0.77;
    text-indent: -500px;
    text-align: center;
    width: 127px;
}

.metro-wrapper div.round h3 span {
	display: block;
    padding-top: 3px;
    font-weight: bold;
}

.metro-wrapper div.round h3.menu-tile-active {
	height: 49%;
    background-image: none;
    text-indent: 0px;
    line-height: normal;
}


.column h2 {
	color: #092F90;
	font-size: 15pt;
	font-weight: normal;
	margin: 0;
	padding: 55px 0 15px 30px;
	line-height: normal;
}

.column .paginator-wrapper {
	width: 715px;
	height: 26px;
	margin: 0 auto;
	color: #092F90;
    font-size: 9pt;
    font-weight: bold;
    cursor: pointer;
}

.column .paginator-wrapper .paginator-top {
	background: url("../../../img/templates/kandibur/Plashka_content_verh.png") no-repeat scroll 0 0 transparent;
    width: 640px;
    height: 22px;
    padding: 5px 0 0 15px;
    line-height: normal;
}

.column .paginator-wrapper .paginator-bottom {
	width: 713px;
    height: 26px;
    padding: 5px 0 0 15px;
    background: url("../../../img/templates/kandibur/Plashka_content_niz.png") no-repeat scroll 0 0 transparent;
    line-height: normal;
}

.pagination {
	width: 50px;
    margin: 1px 50px 0 0 !important;
}

.column .content {
	width: 710px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}

.column .content ul.list {
	margin: 0;
	padding: 0;
}

.column .content ul.list li {
	background-color: rgba(170, 195, 253, 0.8);
	border: 1px solid rgb(51, 102, 204);
	float: left;
	height: 103px;
	list-style: none outside none;
	margin-left: 3px;
	margin-top: 5px;
	overflow: hidden;
	padding: 2px;
	width: 345px;
	border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px;
}

.column .content ul.list li .image-wrapper, .column .content ul.tile li .image-wrapper  {
	border: 2px solid #ffff88;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
	height: 100px;
	overflow: hidden;
	width: 110px;
}

.column .content ul.list li img, .column .content ul.tile li img, #content-of-popup ul.tile li img {
	border: 1px solid #003399;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
	height: 98px;
	width: 108px;
}

.column .content ul.list .description {
	height: 93px;
	overflow: hidden;
	padding: 3px 2px 5px 8px;
	text-overflow: ellipsis;
	width: 215px;
}

.column .content ul.list .description h3 {
	color: #003399;
	display: block;
	font-size: 13pt;
	font-weight: bold;
	height: 28px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	width: 215px;
	line-height: 25px;
}

.column .content ul.list .date {
	color: #ffffff;
	font-size: 10pt;
	font-weight: normal;
}

.column .content ul.list .description .text {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	height: 55px;
	line-height: 17px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
}

.column .content ul.tile, #content-of-popup ul.tile {
	margin: 0;
    padding: 0px 0 0 15px;
}

.column .content ul.tile li, #content-of-popup ul.tile li {
	border: 1px solid #FFFF55;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
	float: left;
	height: 100px;
	list-style: none outside none;
	margin-right: 8px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 110px;	
}

.column .content ul.tile li h3, #content-of-popup ul.tile li h3 {
	background-color: #3366ff;
    background-image: url("../../../img/templates/kandibur/dots.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    color: #ffffff;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    line-height: 18px;
    height: 19px;
    margin: 0;
    opacity: 0.75;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 3px;
    position: absolute;
    text-indent: -300px;
    width: 107px;
	
}

.column .content ul.tile li h3.tile-active, #content-of-popup ul.tile li h3.tile-active  {
	height: 50%;
    text-indent: 0px;
    background-image: none;
}

.column .paginator-wrapper a {
	width: 28px;
	height: 26px;
	margin-left: 1px;
}

.column .paginator-wrapper a.list-button {
	background: url("../../../img/templates/kandibur/button_list.png") no-repeat scroll 0 0 transparent;
}

.column .paginator-wrapper a.tile-button {
	background: url("../../../img/templates/kandibur/button_sq.png") no-repeat scroll 0 0 transparent;
}

#footer {
	__height: 110px;
	background: #557c26; /* Old browsers */
	background: -moz-linear-gradient(top,  #557c26 0%, #53862e 48%, #40b235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#557c26), color-stop(48%,#53862e), color-stop(100%,#40b235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #557c26 0%,#53862e 48%,#40b235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #557c26 0%,#53862e 48%,#40b235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #557c26 0%,#53862e 48%,#40b235 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #557c26 0%,#53862e 48%,#40b235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557c26', endColorstr='#40b235',GradientType=0 ); /* IE6-9 */
	border-top: 7px solid #ff6600;
}

#footer .footer-content {
	width: 800px;
	margin: 0 auto;
}

#footer ul.social {
	margin: 0;
	padding: 15px 0 0 50px;
}

#footer ul.social li {
	list-style: none;
	float: left;
	margin: 0 0 0 5px;
}

#footer ul.social li a {
	width: 18px;
	height: 16px;
	display: block;
}

#footer ul.social li a.fab {
	background: url('../../../img/templates/kandibur/facebook.png') no-repeat scroll 0 0 transparent;
}

#footer ul.social li a.vk {
	background: url('../../../img/templates/kandibur/vk.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.od {
	background: url('../../../img/templates/kandibur/od.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.ram {
	background: url('../../../img/templates/kandibur/ram.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.fl {
	background: url('../../../img/templates/kandibur/flower.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.ya {
	background: url('../../../img/templates/kandibur/ya.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.g {
	background: url('../../../img/templates/kandibur/g.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.tv {
	background: url('../../../img/templates/kandibur/bird.png') no-repeat scroll 0 100% transparent;
}

#footer .map {
	width: 140px;
	height: 90px;
	background: url('../../../img/templates/kandibur/Map_geo.png') no-repeat scroll 0 0 transparent;
	margin: 15px 35px 0 0;
}

#footer .contacts {
	color: #003300;
    height: 110px;
    margin-left: 25px;
    margin-top: 10px;
    width: 200px;
}

#footer .contacts h3 {
	font-size: 11pt;
    margin: 1px 0 0;
}

#footer .contacts span, #footer .contacts-dop span {
	display: block;
    font-size: 9pt;
    font-weight: bold;
    line-height: 15px;
}

#footer .contacts-dop p {
	margin: 7px 0;
}

#footer .groups {
	color: #003366;
    font-size: 9pt;
    padding-left: 55px;
}

#footer .groups a, #footer .groups a:visited  {
	background: url("../../../img/templates/kandibur/vk2.png") no-repeat scroll 0 0 transparent;
    color: #003366;
    display: block;
    font-weight: bold;
    height: 17px;
    line-height: 20px;
    margin-top: 12px;
    padding-left: 23px;
    text-decoration: none;
}

#footer .contacts-dop {
	color: #003300;
    margin-left: 25px;
    margin-top: 15px;
    width: 250px;
}

#footer span a {
	color: #333399;
	display: block;
	font-size: 9pt;
	font-weight: bold;
}

#footer .contacts-dop span a {
	display: inline-block;
}

/* popup styles */

.reveal-modal h3 {
	font-size: 19pt;
	font-weight: normal;
	color: #003377;
	margin: 7px 0;
}

.reveal-modal .close-reveal-modal {
	color: #663300;
}

.reveal-modal {
    background: none repeat scroll 0 0 #ffffdb;
	border-radius: 15px;
	top:75px !important;
	border: 2px solid #ff7722;
	z-index: 6;
	position: absolute;
	padding-left: 30px;
	margin-left: -438px;
	padding-top: 20px;
}

.reveal-modal .popup-content {
	color: #003377;
	font-size: 11pt;
	overflow:auto;
	max-height: 410px;
	padding-right: 5px;
}
.reveal-modal .popup-content .p{
}

.reveal-modal-bg {
	z-index: 5;
}

.content .reveal-modal-bg {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}

#content-of-popup ul.tile {
	background-image: url("../../../img/templates/kandibur/separator.png");
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 6px;
    padding-top: 30px;
}

#loading_popup {
	background-image: url("../../../img/templates/kandibur/karuselfest.png");
	background-repeat: no-repeat;
	width: 690px;
	height: 340px;
	z-index: 6;
	position: fixed;
	top: 25%;
	left: 50%;
	margin-left: -345px;
	cursor: pointer;
}

#loading_popup .close-reveal-modal-loading {
    color: #cc0000;
	font-size: 10pt;
	font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 55px;
    top: 20px;
    font-style: normal;
    text-decoration: underline;
}

.carusel {
	margin: 0 0 0 15px;
	height: 103px;
	width: 580px;
	overflow: hidden;
	border: 2px solid #336699;
	border-radius: 10px 10px 10px 10px;
	background-color: #fff;
	float: left;
	top: 20px;
}

.carusel img {
	width: 108px;
	height: 95px;
	border: 1px solid #cc0000;
	border-radius: 8px 8px 8px 8px;
	margin: 3px 1.5px;
}

.carusel li {
	padding: 0px 1.5px;
}

#content-carousel {
	width: 400px;
	height: 260px;
	float: left;
	position: relative;
}

#content-carousel .carousel-indicators {
	top: 240px;
}

#content-carousel .carousel-indicators .active {
	background-color: #0066ff;
}

#content-carousel .carousel-indicators li {
	background-color: #fff;
	border: 1px solid #0066cc;
	height: 8px;
	width: 8px;
}

#content-carousel .carousel-inner {
	width: 100%;
	height: 100%;
}

.hint {
	background-image: url("../../../img/templates/kandibur/hint.png");
	background-position: center top;
    background-repeat: no-repeat;
    width: 202px;
    height: 88px;
    position: absolute;
    display: none;
    top: 130px;
    z-index: 3;
    text-decoration: none;
}

.hint p.hint-title {
	margin: 5px 7px 2px 7px;
}

.hint p.hint-title span {
	font-size: 10pt;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.hint p.hint-info {
	font-size: 8pt;
    font-weight: normal;
    color: #fff;
    margin: 0 7px;
    line-height: 115%;
}

/* Arrows */

.content-arrow {

    position: absolute;

    height: 620px;

    width: 40px;

    _background-color: #ef9696;

    z-index: 25;

    background-repeat: no-repeat;

}



.left-arrow {

    background: url(../../../img/templates/kandibur/nav_button_left_no_activ.png) 0 0 transparent;

    left: 0;

}



.right-arrow {

    background: url(../../../img/templates/kandibur/nav_button_right_no_activ.png) 0 0 transparent;

    right: 0;

}



.left-arrow:hover {

    _background-position: 40px 0px;
    background: url(../../../img/templates/kandibur/nav_button_left_activ.png) 0 0 transparent;

}



.right-arrow:hover {

    _background-position: 36px 0px;
    background: url(../../../img/templates/kandibur/nav_button_right_activ.png) 0 0 transparent;

}



.content-arrow ul {

    list-style-type: none;

    padding: 0;

    margin: 25px 4px 0 3px;

}

.content-arrow ul li {



}
.content-arrow ul li a {
	background-size: 28px 28px;
    border: 2px solid #0066cc;
    border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
    display: block;
    height: 28px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 28px;
}

.content-arrow ul li a img {
	border: 0 solid;
    border-radius: 14px 14px 14px 14px;
	-webkit-border-radius: 14px;
    height: 28px;
    width: 28px;
}


.indicator-main {
    background: url(../../../img/templates/kandibur/main-images/1.jpg) 0 0 transparent;
}


/* Alerts */



/* ClearFix )))) */

*+html .clearfix{
  min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}

/* end clearfix */

.img_loading {
	background: url("../../../img/templates/kandibur/loading.gif") no-repeat center center;
	height: 100%;
	width: 100%;
}