html {
	font-family: Tahoma,sans-serif;
	margin: 0;
	padding: 0;
}

body {
    background: url("../../../img/templates/carusel/Fon_cenrt.png") no-repeat fixed center center #e6f5ff;
    background-size: cover;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    bottom: 0;
}

body content {
	display: block;
}

a {
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

#header {
	width: 1000px;
	height: 115px;
	margin: 0 auto;
	_padding: 0 35px 0 50px;
} 

#header nav {
	height: 115px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 0 0 15px 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
}

#header h1 {
	background: url("../../../img/templates/carusel/logo.png") no-repeat;
	text-indent: -19999px;
	height: 76px;
	width: 205px;
	display: block;
	margin: 29px 62px 0 50px;
}

#header .menu {
	display: table-row;
	margin: 20px 0 0 0;
}

#header .menu li {
	display: table-cell;
    height: 93px;
    text-align: center;
    vertical-align: middle;
    width: 108px;
}

#header .menu li a {
    color: #FFFFFF;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    line-height: 97px;
    text-shadow: 1px 2px 2px #353535;
}

#header .menu li a.active {
	color: #A0000A;
}

#header .menu li a:hover {
	text-decoration: none;
	color: #A0000A;
}

#header .menu li:nth-child(1) a {
	background: url("../../../img/templates/carusel/home_no_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(1) a.active {
	background: url("../../../img/templates/carusel/home_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(2) a {
	background: url("../../../img/templates/carusel/about_no_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(2) a.active {
	background: url("../../../img/templates/carusel/about_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(3) a {
	background: url("../../../img/templates/carusel/creators_no_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(3) a.active {
	background: url("../../../img/templates/carusel/creators_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(4) a {
	background: url("../../../img/templates/carusel/participants_no_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(4) a.active {
	background: url("../../../img/templates/carusel/participants_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(5) a {
	background: url("../../../img/templates/carusel/partners_no_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(5) a.active {
	background: url("../../../img/templates/carusel/partners_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(6) a {
	background: url("../../../img/templates/carusel/contacts_no_activ.png") no-repeat scroll center 0 transparent;
}

#header .menu li:nth-child(6) a.active {
	background: url("../../../img/templates/carusel/contacts_activ.png") no-repeat scroll center 0 transparent;
}

header.name h1 a {
	color: #cc0000;
}

header.name h1 a:hover {
	color: #cc0000;
	text-decoration: none;
}


.all-wrapper {
	width: 1000px;
	margin: 0 auto;
}

.title-content {
    height: 90px;
    padding: 0;
    width: 1000px;
    margin: 0 auto;
}

.title-content .mail {
    background: url("../../../img/templates/carusel/mail.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 15px;
    margin: 12px 10px 0 20px;
    text-indent: -999999px;
    width: 18px;
}

.title-content .title-column {
    color: #CC0000;
    font-size: 9pt;
    font-weight: bold;
    margin-top: 8px;
    text-shadow: 1px 1px 1px #656565;
}

.wrapper-carousel-partners {
	background-color: rgba(255,255,255,0.8);
	height: 60px;
	width: 100%;
	border-radius: 12px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
	overflow: hidden;
}

.carousel-partners {
	overflow: hidden;
	width: 900px;
	margin: 5px auto;
	height: 50px;
}

.carousel-partners li {
	text-align: center;
	width: 150px;
	margin: 0 5px;
}

.title-page {
    color: #CC0000;
    font-size: 15pt;
    font-weight: normal;
    text-shadow: 1px 1px 1px #656565;
    margin: 7px 0 0 20px;
    line-height: 25px;
}

#Carousel {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 0;
}

#Carousel .border-top-slide-show, #Carousel .border-bottom-slide-show {
	height: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#Carousel .border-top-slide-show {
    background: url("../../../img/templates/carusel/border_top_slide_show.png") repeat-x scroll 0 0 transparent;
    top: 0;
}

#Carousel .border-bottom-slide-show {
	background: url("../../../img/templates/carusel/border_bottom_slide_show.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
}

#Carousel .carousel-indicators {
	top: 360px;
	left: 445px;
}

#Carousel .carousel-indicators li {
	background-color: #3366cc;
	border: 1px solid #3366cc;
	height: 8px;
	width: 8px;
}

#Carousel .carousel-indicators li.active {
	background-color: #fff;
}

#Carousel .carousel-control {
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	text-indent: -99999px;
}

#Carousel .carousel-control.left {
	background: url("../../../img/templates/carusel/gallery_btn_prev.png") no-repeat scroll 0 0 transparent;
	left: 8px;
}

#Carousel .carousel-control.right {
	background: url("../../../img/templates/carusel/gallery_btn_next.png") no-repeat scroll 0 0 transparent;
	right: 8px;
}

.important_information {
	width: 410px;
	margin-bottom: 15px;
}

.important_information .name h1, .app-categories .name h1 {
	font-size: 16pt;
	font-weight: normal;
	line-height: 35px;
	margin: 10px 0 0 20px;
	text-shadow: 0px 1px 1px #656565;
}

.important_information .name h1 {
	color: #336600;
}

.important_information .name h1 a {
	color: #336600;
}

.important_information .name h1 a:hover {
	color: #336600;
	text-decoration: none;
}

.app-categories .name h1 {
	color: #cc0000;
}

.important_information ul, .app-categories ul {
	margin: 0;
}

.important_information ul li, .app-categories ul li {
	list-style: none outside none;
	border-radius: 15px;
	box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
	width: 180px;
	margin-right: 25px;
	overflow: hidden;
}



.app-categories ul li:last-child {
	margin-right: 0;
}

.important_information ul li a, .app-categories ul li a {
	color: #fff;
}

.important_information ul li a:hover, 
.app-categories ul li a:hover {
	text-decoration: none;
}

.important_information ul li .img-wrapper, 
.app-categories ul li .img-wrapper {
	height: 100px;
	text-align: center;
	overflow: hidden;
}

.important_information ul li .description, 
.app-categories ul li .description {
	height: 50px;
	padding-top: 4px;
	background: url("../../../img/templates/carusel/btn_more.png") no-repeat scroll 147px 15px;
}

.important_information ul li .description {
	background-color: #336600;
}

.app-categories ul li .description {
	background-color: #cc0000;
}

.important_information ul li .description h1 {
	font-size: 10pt;
	font-weight: normal;
	margin: 0 0 0 20px;
	line-height: 22px;
	height: 50px;
}

.important_information ul li .description h1 span, 
.app-categories ul li .description h1 {
	font-size: 14pt;
	font-weight: normal;
	line-height: 20px;
}

.important_information ul li .description h1 span {
	display: block;
}

.app-categories ul li .description h1 {
	margin: 0 20px;
}

.important_information ul li img,
.app-categories ul li img {
	border: 0 solid #FFFFFF;
	width: 180px;
	height: 100px;
}

.app-categories {
	width: 590px;
	margin-bottom: 15px;
}

#footer {
	background-color: rgba(255, 255, 255, 0.8);
	width: 915px;
	height: 90px;
	margin: 15px auto 0;
	border-radius: 15px 15px 0 0;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
	padding: 0 35px 0 50px;
	clear: both;
}

#footer ul.social {
    margin: 13px 0 0;
}

#footer ul.social li {
    float: left;
    list-style: none outside none;
    margin: 0 5px 0 0;
}

#footer ul.social a {
    display: block;
    width: 16px;
}

#footer ul.social a.fb {
    background: url("../../../img/templates/carusel/facebook.png") no-repeat scroll 0 0 transparent;
    height: 16px;
}

#footer ul.social a.vk {
    background: url("../../../img/templates/carusel/vk.png") no-repeat scroll 0 0 transparent;
    height: 16px;
}

#footer .mail {
    color: #0033CC;
    display: block;
    font-size: 10pt;
    margin: 13px 20px;
}

#footer .footer-menu {
    display: table-row;
    margin-top: 8px;
}

#footer .footer-menu li {
    cursor: pointer;
    display: table-cell;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    width: 108px;
}

#footer .footer-menu a {
    color: #336600;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    text-shadow: 1px 2px 2px #999999;
}

#footer .footer-menu li a.active {
    color: #CC0000;
}

#footer .footer-menu li a:hover {
	text-decoration: none;
	color: #CC0000;
}

.projects .name h1 {
	color: #cc0000;
	font-weight: normal;
	font-size: 15pt;
	line-height: 30px;
	text-shadow: 1px 1px 1px #656565;
	display: block;
	margin: 5px 25px 3px 20px;
}

.projects .name a {
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	margin-right: 5px;
	margin-top: 15px; 
	text-indent: -99999px;
	width: 23px;
}

.projects a.tile {
	background-image: url("../../../img/templates/carusel/tiles.png");
}

.projects a.list {
	background-image: url("../../../img/templates/carusel/list.png");
}

.projects .project {
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
    margin-bottom: 15px;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.project .white-block {
	background: url("../../../img/templates/carusel/shadow-vertical.png") no-repeat scroll -3px 0 #FFFFFF;
    height: 100px;
    width: 650px;
    padding: 25px 50px 25px 30px;
}

.white-block h1 {
	color: #cc0000;
	font-weight: normal;
	font-size: 19pt;
	line-height: 20px;
}

.white-block .description {
	font-size: 10pt;
	color: #666;
}

.project .logo-wrapper {
	width: 270px;
	height: 100%;
	background-color: #ccc;
}

.project .logo-wrapper img {
	width: 270px;
	height: 150px;
}

.project .more-link {
	background: url("../../../img/templates/carusel/more_no_active.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 50px;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 50px;
}

.project .more-link:hover {
	background: url("../../../img/templates/carusel/more_active.png") no-repeat scroll 0 0 transparent;
}

.projects.app-categories {
	width: 1000px;
}

.projects.app-categories ul li {
	margin: 10px;
}

.pagination span {
    background-color: #fff;
    border: 1px solid #cc0000;
    display: inline-block;
    height: 21px;
    padding-top: 4px;
    text-align: center;
    width: 25px;
}

.pagination span a {
    color: #A7A7A7;
    text-decoration: none;
}

.pagination span:hover, .pagination span.active {
    background-color: #cc0000;
    border: 1px solid #FFFFFF;
}

.submenu {
	color: #CC0000;
    font-weight: normal;
	line-height: 27px;
    text-shadow: 1px 1px 1px #656565;
}
.submenu h1 {
	font-size: 15pt;
    font-weight: normal;
	display: inline-block;
	margin: 3px 10px 0 20px;
	line-height: 27px;
}

.submenu h2 {
	font-size: 11pt;
	margin: 3px 15px 0 10px;
	display: inline-block;
	line-height: 27px;
}

.submenu .category {
	color: #CC0000;
	text-shadow: 1px 1px 1px #656565;
	text-decoration: underline;
}

.content-and-social-button {
	width: 750px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
}

.content-and-social-button #social-buttons .back-link {
	background: url("../../../img/templates/carusel/more_no_active.png") no-repeat scroll 0 0 transparent;
	bottom: 0;
	display: block;
	height: 50px;
	position: absolute;
	right: 0;
	width: 50px;
	text-indent: -999999px;
}

.content-and-social-button #social-buttons .back-link:hover {
	background: url("../../../img/templates/carusel/more_active.png") no-repeat scroll 0 0 transparent;
}

.advertising {
	width: 220px;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3); 
	overflow: hidden;
	margin-left: 30px;
}

.single-content .preview {
	padding: 15px 15px 5px 12px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5); 
}

.single-content .preview header h1,
.projects.related_content header.name h1 {
	margin: 3px 0 5px 0;
	line-height: 25px;
	color: #cc0000;
}

.projects.related_content header.name h1 {
	margin-left: 20px;
}
.single-content .preview header h1 {
	font-size: 19pt;
        font-weight: normal;
}

.projects.related_content header h1 {
	font-size: 17pt;
}

#content-carousel {
	width: 500px;
	height: 260px;
	margin: 0 12px 12px 0;
	float: left;
}

.single-content .preview .carousel-inner {
	width: 100%;
	height: 100%;
}

.single-content .description {
	clear: both;
	padding: 12px 15px 20px 12px;
	border-bottom: 1px solid #cc0000;
}

.short_description {
	width: 211px;
	float: right;
}

.single-content .short_description,
.single-content .description {
	color: #555;
	font-size: 10pt;
    font-weight: normal;
}

article.single-content h2 {
	font-size: 19pt;
	color: #454545;
    font-weight: normal;
	line-height: 20px;
}

.preview {
    min-height: 301px;
}

#social-buttons {
	height: 50px;
	position: relative;
}

#social-buttons .fb-like {
	margin: 15px 47px 0 45px;
}

.content-and-social-button .carousel {
	margin-bottom: 0;
}

.projects.related_content {
	border-bottom: 1px solid #cc0000;
	padding: 15px 15px 5px 15px;
	width: 720px;
}
.fancybox-image {
	max-width: 800px !important;
	height: auto !important;
}

table.content tr {
	height: 100%;
}

table.content td {
	padding-bottom: 20px;
	height: 100%;
}

