/* NEW STYLE */

.left {
	float: left;
}

.right {
	float: right;
}

body {
	margin: 0px;
	font-family: Times New Roman;
	font-style: oblique;
	font-weight: lighter;
}

h1,h2,h3 {
	line-height: 27px;
}

#header {
	height: 90px;
    background-color: #fff;
    position: relative;
    border-bottom: 5px solid #ff5500;
}

#header .header-wrapper {
	height: 85px;
    margin: 0 auto;
    padding: 1px 15px 0;
    width: 780px;
}

#header .slogan {
    color: #FF6000;
    font-family: Times New Roman;
    font-weight: bold;
    margin-bottom: 2px;
    width: 540px;
    margin-right: -6px;
}

#header .slogan .left {
	font-size: 12pt;
	margin: 9px 0 0 0;
	line-height: normal;
}

#header .slogan .right {
	font-size: 18pt;
	margin-right: 6px;
}

#header h1 {
	background: url("../../../img/templates/fab/Logo-Smoll.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 70px;
	margin: 15px 0 0 17px;
	padding: 0;
	text-indent: -999999px;
	width: 215px;
}

 .main-menu {
	background: url("../../../img/templates/fab/menu.png") no-repeat scroll 0 0px transparent;
    height: 40px;
    margin: 0 auto;
    padding: 6px 0 0;
    position: relative;
    width: 792px;
    z-index: 2;
    cursor: pointer;
}

 .main-menu-content {
	background-color: rgba(65, 65, 65, 0.8);
    height: 0px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 720px;
    z-index: 2;
}

 .main-menu-content.active {
	height: 240px;
    padding: 20px 35px 15px 35px;
    border: 1px solid #ff5500;
}

 .main-menu-content .menu-tile {
	width: 238px;
	height: 85px;
	overflow: hidden;
	margin: 2px 0;
}

 .main-menu-content .menu-tile img {
	width: 43px;
	height: 39px;
	border: 1px solid #ff5500;
	border-radius: 10px 10px 10px 0px;
}

.main-menu-content .menu-tile ul.submenu {
	margin: 0;
	padding: 3px 0 0;
}

.main-menu-content .menu-tile ul.submenu li {
	height: 16px;
    line-height: 5px;
    list-style: none outside none;
    overflow: hidden;
    width: 175px;
}

.main-menu-content .menu-tile ul.submenu li span {
	font-size: 7pt;
	font-weight: bold;
	color: #fff;
}

 .main-menu-content .menu-tile .menu-description {
	height: 40px;
    padding-left: 3px;
    width: 190px;
}

 .main-menu-content .menu-tile .menu-description h3 {
	color: #fff;
    font-size: 12pt;
    font-style: normal;
    font-weight: lighter;
    margin: 0;
    padding: 3px 0px 0px 3px;
}

.main-menu-content .menu-tile .menu-description .menu-text {
	color: #fff;
    font-size: 9pt;
    line-height: 14px;
    width: 190px;
    padding: 0px 0px 0px 4px;
}


 .main-menu span {
    color: #1F0B06;
    display: block;
    float: left;
    font-size: 11pt;
    font-weight: bold;
    margin-left: 15px;
    margin-top: -5px;
    line-height: normal;
}

.main-menu .mail {
	display: block;
	width: 15px;
	height: 11px;
	background: url('../../../img/templates/fab/message.png') no-repeat scroll 0px 0px transparent;
	text-indent: -999999px;
	margin-left: 20px;
	margin-top: -2px;
}

 .main-menu .flags {
	margin: 0;
	padding: 0 60px 0 0;
	margin: -2px 0 0;
}

.main-menu .flags li {
	float: left;
	width: 17px;
	height: 12px;
	list-style: none;
	display: block;
	padding-left: 2px;
}

 .main-menu .flags li a {
	width: 17px;
	height: 12px;
	display: block;
	text-indent: -9999999px;


}

.main-menu .flags li a.ru {
	background: url('../../../img/templates/fab/ru.png') no-repeat scroll 0px 0px transparent;
}

 .main-menu .flags li a.uk {
	background: url('../../../img/templates/fab/uk.png') no-repeat scroll 0px 0px transparent;
}

.main-menu .flags li a.en {
	background: url('../../../img/templates/fab/en.png') no-repeat scroll 0px 0px transparent;
}

 .main-menu .flags li a.de {
	background: url('../../../img/templates/fab/de.png') no-repeat scroll 0px 0px transparent;
}

#content-wrapper {
	background-color: #fdfdfd;
}

#second-wrapper {
	width: 805px;
	height: 620px;
	margin: 0 auto;
	background: url('../../../img/templates/fab/Fon_centr.jpg') no-repeat scroll center transparent;
	position: relative;
}

#content {
	width: 800px;
	height: 620px;
	margin: 0 auto;
	overflow: hidden;
}

/*#all-columns {
	width: 6834px;
}*/
#all-columns {
	width: 6452px !important;
}

.menu-all {
	position: absolute;
	left: 8px;
}

.column {
	width: 800px;
	__padding: 0 31px;
}

.column.main-column {
	padding: 0;
	width: 800px;
}

.metro-wrapper {
	margin: 0 auto;
	margin-top: -2px;
	width: 690px;
	height: 325px;
}

.metro-wrapper .home-tile {
	width: 230px;
	height: 100%;
}

.metro-wrapper .home-tile.center {
	width: 230px;
}

.metro-wrapper .home-tile ul {
	margin: 0px;
	padding: 0;
}

.metro-wrapper .home-tile ul li {
	list-style: none;
	position: relative;
	float: left;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 5px;
}

.metro-wrapper .home-tile ul li.big {
	height: 190px;
	width: 223px;
	border: 1px solid #ff3300;
	border-radius: 15px 15px 15px 0px;
	box-shadow: 2px 2px 5px rgba(35, 35, 35, 0.7);
}

.metro-wrapper .home-tile ul li.little {
	width: 110px;
	height: 103px;
}

.metro-wrapper .home-tile ul li.long {
	width: 110px;
	height: 216px;
}

.metro-wrapper .home-tile ul li h3 {
	background-color: #232323; 
	background-image: url("../../../img/templates/fab/dots.png"); 
	background-position: right center; 
	background-repeat: no-repeat; 
	bottom: 0; color: #FFF; display: block; 
	font-size: 11pt; font-weight: normal; 
	height: 22px; margin: 0;
	opacity: 0.75;
	overflow: hidden;
	padding-left: 7px;
	padding-right: 5px;
	position: absolute;
	line-height: 17px;
}

.metro-wrapper .home-tile ul li h3 span {
	display: block;
	padding-top: 1px;
	font-weight: lighter;
	font-size: 13pt;
	line-height: 18px;
}

.metro-wrapper .home-tile ul li h3.menu-tile-active {
	height: 40%;
	background-image: none;
}

.metro-wrapper .home-tile ul li h3.menu-tile-active span {
	display: none;

}

.metro-wrapper .home-tile.center div.left {
	width: 115px;
	overflow: hidden;
}

.column h2 {
	color: #FF7700;
    font-size: 17pt;
    font-weight: lighter;
    margin: 0;
    padding: 35px 0 10px 30px;
}

.main-column h2 {
	font-size: 19pt;
    padding: 35px 0 12px 65px;
}

.column .paginator-wrapper {
	width: 715px;
	height: 26px;
	margin: 0 auto;
	color: #010101;    
    font-size: 10pt;
    font-weight: bold;
    font-weight: bold;
    cursor: pointer;
}

.column .paginator-wrapper .paginator-top {
	background: url("../../../img/templates/fab/Plashka_content_verh.png") no-repeat scroll 0 0 transparent;
    width: 640px;
    height: 22px;
    padding: 4px 0 0 15px;
    line-height: normal;
}

.column .paginator-wrapper .paginator-bottom {
	width: 713px;
	height: 26px;
	padding: 4px 0 0 15px;
	background: url("../../../img/templates/fab/Plashka_content_niz.png") no-repeat scroll 0 0 transparent;
	line-height: normal;
}

.pagination {
	width: 50px;
	margin: 0 63px 0 0;
}

.column .content {
	width: 710px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}

.column .content ul.list {
	margin: 0;
	padding: 0;
}

.column .content ul.list li {
	background-color: rgba(255, 85, 0, 0.7);
	border: 1px solid #434343;
	float: left;
	height: 104px;
	list-style: none outside none;
	margin-left: 3px;
	margin-top: 5px;
	overflow: hidden;
	padding: 2px;
	width: 345px;
	border-radius: 0 12px 12px 0;
}

.column .content ul.list li .image-wrapper, .column .content ul.tile li .image-wrapper  {
	border: 1px solid #fff;
	height: 101px;
	width: 111px;
}

.column .content ul.list li img, .column .content ul.tile li img, #content-of-popup ul.tile li img {
	border: 1px solid #ff3300;
	width: 109px;
}

.column .content ul.list .description {
	height: 95px;
    overflow: hidden;
    padding: 5px 2px 5px 7px;
    text-overflow: ellipsis;
    width: 220px;
}

.column .content ul.list .description h3 {
	color: #fff;
	display: block;
	font-size: 15pt;
	font-style: normal;
	font-weight: lighter;
	height: 35px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	width: 214px;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.column .content ul.list .date {
	color: #000;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	float: right;
}

.column .content ul.list .description .text {
	color: #323232;
	font-size: 11pt;
	font-weight: normal;
	height: 55px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
}

.column .content ul.tile, #content-of-popup ul.tile {
	margin: 0;
	padding: 0px 0 0 30px;
}

.column .content ul.tile li, #content-of-popup ul.tile li {
	border: 1px solid #FF3705;
    float: left;
    height: 101px;
    list-style: none outside none;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 110px;
}

.column .content ul.tile li h3, #content-of-popup ul.tile li h3 {
	background-color: #535353;
    background-image: url("../../../img/templates/fab/dots.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    line-height: 18px;
    height: 15px;
    margin: 0;
    opacity: 0.75;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 3px;
    position: absolute;
    text-indent: -300px;
    width: 103px;
}

.column .content ul.tile li h3.tile-active, #content-of-popup ul.tile li h3.tile-active {
	height: 50%;
	text-indent: 0px;
	background-image: none;
}

.column .paginator-wrapper a {
	width: 27px;
	height: 26px;
	margin-left: 3px;
}

.column .paginator-wrapper a.list-button {
	background: url("../../../img/templates/fab/button_list.png") no-repeat scroll 0 0 transparent;
}

.column .paginator-wrapper a.tile-button {
	background: url("../../../img/templates/fab/button_sq.png") no-repeat scroll 0 0 transparent;
}

#footer {
	height: 110px;
	background-color: #fff;
	position: relative;
	border-top: 5px solid #424242;
}

#footer .footer-content {
	width: 850px;
	margin: 0 auto;
}

#footer .footer-content .adress {
	display: block;
	width: 240px;
	margin-left: 35px;
	margin-top: 8px;
}

#footer .footer-content .tel_and_email {
    display: block;
	width: 245px;
	margin-left: 70px;
	margin-top: 8px;
}

#footer .footer-content h3 {
	color: #FF5500;
	font-family: times new roman;
	font-size: 13pt;
	line-height: 18px;
	font-style: lighter;
	margin: 0;
	padding: 0;
}

#footer .footer-content span {
	color: #353535;
	font-family: times new roman;
	font-size: 11pt;
	font-style: oblique;
	line-height: 18px;
}

#footer ul.social {
	padding: 15px 0 0 0;
}

#footer ul.social li {
	list-style: none;
	float: left;
	margin: 0 0 0 3px;
}

#footer ul.social li a {
	width: 18px;
	height: 16px;
	display: block;;
}

#footer ul.social li a.fab {
	background: url('../../../img/templates/fab/facebook.png') no-repeat scroll 0 0 transparent;
}

#footer ul.social li a.vk {
	background: url('../../../img/templates/fab/vk.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.od {
	background: url('../../../img/templates/fab/od.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.ram {
	background: url('../../../img/templates/fab/ram.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.fl {
	background: url('../../../img/templates/fab/flower.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.ya {
	background: url('../../../img/templates/fab/ya.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.g {
	background: url('../../../img/templates/fab/g.png') no-repeat scroll 0 100% transparent;
}

#footer ul.social li a.tv {
	background: url('../../../img/templates/fab/bird.png') no-repeat scroll 0 100% transparent;
}

#footer .map {
	width: 140px;
	height: 90px;
	background: url('../../../img/templates/fab/Map_geo.png') no-repeat scroll 0 0 transparent;
	margin: 15px 35px 0 0;
}

/* popup styles */

.reveal-modal h3 {
	font-size: 17pt;
	font-style: normal;
	font-weight: normal;
	color: #FF7700;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
	margin: -5px -40px 6px -30px;
	padding-left: 40px;
	box-shadow: 0px 2px 4px rgba(255, 85, 0, 0.6);
	padding-bottom: 5px;
	line-height: 35px;
}

.reveal-modal .related_content .name h1 {
	font-size: 15pt;
    color: #ff3300;
    margin: 6px 28px;
    font-weight: normal;
}

.reveal-modal .close-reveal-modal {
	font-size: 29px;
	line-height: .5;
	position: absolute;
	top: 18px;
	right: 11px;
	color: #555;
	text-shadow: 0 1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
}

.main-content {
	margin: 0 -40px 9px -30px;
	box-shadow: 0px 2px 4px rgba(255, 85, 0, 0.6);
	top: 19px;
}

.reveal-modal {
 	border: 1px solid #ff5500;
     border-radius: 0 0 0 0;
     margin-left: -437px;
     padding-left: 30px;
     position: absolute;
     top: 90px !important;
     z-index: 6;
     background: none repeat scroll 0 0 #fff;
     border-radius: 10px 10px 10px 10px;
     padding-top: 15px;
}

.reveal-modal .popup-content {
	color: #444;
	font-size: 10.5pt;
	line-height: 18px;
	overflow: auto;
	max-height: 420px;
	margin-top: 23px;
	padding: 0 0 0 30px;
	margin-right: 40px;
}

.reveal-modal .popup-content h2 {
	font-size: 19pt;
	font-style: normal;
	line-height: 28px;
	color: #333;
	font-weight: lighter;
}

.reveal-modal .popup-content .p{
}
.reveal-modal-bg {
	z-index: 5;
}

.reveal-modal .popup-content .wrapper-preview {
	border-radius: 0 0 20px 20px;
	overflow: hidden;
	margin-right: 10px;
	min-height: 297px;
}

.reveal-modal .popup-content .preview {
	-webkit-box-shadow: 1px 2px 3px rgba(255, 85, 0, 0.6);
	-moz-box-shadow: 3px 3px 5px rgba(255, 85, 0, 0.6);
	box-shadow: 1px 2px 3px rgba(255, 85, 0, 0.6);
	min-height: 285px;

}

.reveal-modal .popup-content .preview .carousel-inner {
	height: 260px;
	width: 450px;
	margin-top: 5px;
	border: 1px solid #ff3300;
}

.reveal-modal .popup-content .preview .carousel-inner img {
	width: 100%;
	height: 100%;
}

.reveal-modal .popup-content .preview .short_description {
	float: right;
	width: 310px;
}

.content .reveal-modal-bg {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}

#loading_popup {
	background-image: url("../../../img/templates/fab/karuselfest.png");
	background-repeat: no-repeat;
	width: 690px;
	height: 340px;
	z-index: 6;
	position: fixed;
	top: 25%;
	left: 50%;
	margin-left: -345px;
	cursor: pointer;
}

#loading_popup .close-reveal-modal-loading {
    color: #cc0000;
	font-size: 10pt;
	font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 55px;
    top: 20px;
    font-style: normal;
    text-decoration: underline;
}

.carusel {
	overflow: hidden;
	border: 1px solid #e16d22;
	background-color: #fff;
	height: 45px;
	box-shadow: 2px 2px 2px rgba(225, 133, 98, 1);
	margin-right: -6px;
}

.carusel img {
	width: 103px;
	height: 35px;
	border: 1px solid #e16d22;
	margin: 4px 1.5px;
}

.carusel li {
	padding: 0;
}

.hint {
	background-image: url("../../../img/templates/fab/hint.png");
	background-position: center top;
	background-repeat: no-repeat;
	width: 202px;
	height: 77px;
	position: absolute;
	display: none;
	top: 97px;
	z-index: 3;
}

.hint p.hint-title {
	margin: 9px 7px 3px 9px;
}

.hint p.hint-title a {
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.hint p.hint-info {
	font-size: 10px;
	font-weight: normal;
	color: #000;
	margin: 0 5px;
	line-height: 115%;
	margin: 0 8px;
}

.column .content ul.tile li, #content-of-popup ul.tile li {
	float: left;
    height: 101px;
    list-style: none outside none;
    overflow: hidden;
    position: relative;
    width: 110px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ff3300;
}

.column .content ul.tile li h3, #content-of-popup ul.tile li h3 {
	background-color: #434343;
    background-image: url("../../../img/templates/fab/dots.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 13pt;
    font-weight: bold;
    height: 19px;
    margin: 0;
    opacity: 0.7;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 3px;
    position: absolute;
    text-indent: -300px;
    width: 103px;
    line-height: 20px;
}

/* Arrows */



.content-arrow {

    position: absolute;

    height: 620px;

    width: 36px;

    _background-color: #ef9696;

    z-index: 25;

    background-repeat: no-repeat;

}



.left-arrow {

    background: url(../../../img/templates/fab/nav_button_left_1.png) 0 0 transparent;

    left: 0;

}



.right-arrow {

    background: url(../../../img/templates/fab/nav_button_right_1.png) 0 0 transparent;

    right: 0;

}



.left-arrow:hover {

    _background-position: 36px 0px;
    background: url(../../../img/templates/fab/nav_button_left.png) 0 0 transparent;

}



.right-arrow:hover {

    _background-position: 36px 0px;
    background: url(../../../img/templates/fab/nav_button_right.png) 0 0 transparent;

}



.content-arrow ul {

    list-style-type: none;

    padding: 0;

    margin: 35px 3px 0 3px;

}

.content-arrow ul li {



}



.content-arrow ul li a {
	display:block;
	width: 29px;
	height: 26px;
	border: 1px solid #ff3300;
	border-radius: 0px 5px 5px 0px;
	margin-bottom: 4px;
	background-size: 29px 26px;
	overflow: hidden;
}

.content-arrow ul li a img {
    height: 26px;
    width: 29px;
}



.indicator-main {
    background: url(../../../img/templates/fab/main-images/menu_icons/home.jpg) 0 0 transparent;
}

/*.indicator-news {
    background: url(../../../img/templates/fab/Menu_icon_02.png) 0 0 transparent;

}

.indicator-products {

    background: url(../../../img/templates/fab/Menu_icon_03.png) 0 0 transparent;

}



.indicator-implementations {

    background: url(../../../img/templates/fab/Menu_icon_04.png) 0 0 transparent;

}



.indicator-raws {

    background: url(../../../img/templates/fab/Menu_icon_05.png) 0 0 transparent;

}



.indicator-productions {

    background: url(../../../img/templates/fab/Menu_icon_06.png) 0 0 transparent;

}



.indicator-partners {

    background: url(../../../img/templates/fab/Menu_icon_08.png) 0 0 transparent;

}



.indicator-contacts {

    background: url(../../../img/templates/fab/Menu_icon_09.png) 0 0 transparent;

} */




/* ClearFix )))) */

*+html .clearfix{
  min-height: 1%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}

/* end clearfix */

.img_loading {
	background: url("../../../img/templates/fab/loading.gif") no-repeat center center;
	height: 100%;
	width: 100%;
}


/* content-carousel */

#content-carousel {
	float: left;
	width: 458px;
	height: 272px;
	border-radius: 0 20px 20px 0;
	overflow: hidden;
	margin-left: 5px;
}

#content-carousel .carousel-indicators {
	top: 240px;
	right: 25px;
}

#content-carousel .carousel-indicators .active {
	background-color: #ff6600;
}

#content-carousel .carousel-indicators li {
	background-color: #fff;
	border: 1px solid #ff3300;
	height: 8px;
	width: 8px;
}

/* end content-carousel */

/* social-buttons */

#social-buttons {
	height: 55px;
	margin: 10px 40px 0 30px;
}

#social-buttons .fb-like {
	margin: 20px 47px 0 45px;
}

.img_loading {
	background: url("../../../img/templates/fab/loading.gif") no-repeat center center;
	height: 100%;
	width: 100%;
}

.social_and_metrika {
	padding-right: 40px;
	width: 195px;
}